<h2>Editar mis datos</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control col-md-2' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control col-md-2' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres como mínimo</em>
    <% end %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control col-md-2' %>

    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control col-md-2' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: 'btn btn-primary' %>
    <br><br>
    <%= link_to "#{@user.otp_module_enabled? ? 'Desabilitar' : 'Habilitar'} autenticación de dos factores",
                '#two_factor',
                data: {toggle: :modal},
                class: 'btn btn-info' %>
  </div>
<% end %>
<br>
<h3>Cancelar mi cuenta</h3>

<p>¿Desea cancelar su cuenta? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Regresar", :back %>

<div class="modal fade" id="two_factor">
  <% url = @user.otp_module_enabled? ? disable_multi_factor_authentication_user_path(@user) : enable_multi_factor_authentication_user_path(@user) %>
  <%= form_for :multi_factor_authentication, url: url, html: { class: 'form-inline' }  do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= @user.otp_module_enabled? ? 'Habilitar' : 'Deshabilitar' %> autenticación de dos factores</h4>
        </div>
        <div class="modal-body">
          <% unless @user.otp_module_enabled? %>
            <% qr = RQRCode::QRCode.new(resource.provisioning_uri, size: 10, level: :h ) %>
              <%= raw(
              qr.as_svg(
                offset: 0,
                color: '000',
                shape_rendering: 'crispEdges',
                module_size: 6,
                standalone: true
              ))
              %>
            <hr>
          <% end %>
          <div class='form-group'>
            <div class='text-center'>
              <%= f.text_field :otp_code_token, placeholder: 'Vericar código', class: 'form-control input-lg' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Actualizar", class: 'btn btn-lg btn-block btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
