<%= form_with(model: constancia_documento, local: true) do |form| %>
  <% if constancia_documento.errors.any? %>
    <div id="error_explanation">
      <h2>Los siguientes errores no permitieron que el registro se guardara:</h2>

      <ul>
      <% constancia_documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :folio %>
    <%= form.text_field :folio, class:"form-control col-md-2" %>

    <%= form.label :numero_relacion %>
    <%= form.text_field :numero_relacion, class:"form-control col-md-2" %>

    <%= form.label :numero_oficio %>
    <%= form.text_field :numero_oficio, class:"form-control col-md-2" %>

    <%= form.label :numero_registro %>
    <%= form.text_field :numero_registro, class:"form-control col-md-2" %>

    <%= form.label :codigo_prestatario %>
    <%= form.text_field :codigo_prestatario, class:"form-control col-md-2" %>

    <%= form.label :clave_programa %>
    <%= form.text_field :clave_programa, class:"form-control col-md-2" %>

    <%= form.label :fecha %>
    <%= form.text_field :fecha, class:"form-control col-md-2" %>

    <%= form.label :nombre %>
    <%= form.text_field :nombre, class:"form-control col-md-4" %>

    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno, class:"form-control col-md-4" %>

    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno, class:"form-control col-md-4" %>

    <%= form.label :boleta %>
    <%= form.text_field :boleta, class:"form-control col-md-2" %>

    <%= form.label :unidad_academica %>
    <%= form.text_field :unidad_academica, class:"form-control col-md-4" %>

    <%= form.label :programa_academico %>
    <%= form.text_field :programa_academico, class:"form-control col-md-4" %>

    <%= form.label :periodo %>
    <%= form.text_field :periodo, class:"form-control col-md-3" %>

    <%= form.label :prestatario %>
    <%= form.text_field :prestatario, class:"form-control col-md-4" %>

    <%= form.label :correo %>
    <%= form.text_field :correo, class:"form-control col-md-4" %>

    <%= form.label :constancia_emitida %>
    <%= form.check_box :constancia_emitida, class:"form-control col-sm-1" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-primary' %>
  </div>
<% end %>
