<div class="fondo-oficios">
  <table width="100%">
      <tr>
          <td class="sello-sep" width="15%">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </td>
          <td style="text-align:center" width="85%">
            <span style="font-size:28px; font-weight:bold">INSTITUTO POLITÉCNICO NACIONAL</span><br>
            <span style="font-size:22px; font-weight:bold">SECRETARÍA DE INNOVACIÓN E INTEGRACIÓN SOCIAL</span><br>
            <span style="font-size:20px; font-weight:bold">DIRECCIÓN DE EGRESADOS Y SERVICIO SOCIAL</span><br>
            <span style="font-size:18px; font-weight:bold">DIVISIÓN DE SERVICIO SOCIAL</span><br>
            <span style="font-size:16px; font-weight:bold">DEPARTAMENTO DE CONTROL Y TRÁMITE DE SERVICIO SOCIAL</span>
          </td>
          <td>

          </td>
      </tr>
  </table>
  <br>
  <table width="100%">
    <tr>
      <td colspan="2">
      </td>
      <td width="35%">
        <span style="font-size:12px"><strong>Asunto:</strong> CONSTANCIA DE SERVICIO SOCIAL
        <br><strong>Oficio:</strong> <%= @constancia_documento.numero_oficio %>
        <br><strong>Registro:</strong> <%= @constancia_documento.numero_registro %>
        <% if @constancia_documento.codigo_prestatario.present? && @constancia_documento.clave_programa.present? %>
        <br><strong>Código de prestatario:</strong> <%= @constancia_documento.codigo_prestatario %>
        <br><strong>Clave del programa:</strong> <%= @constancia_documento.clave_programa %>
        <% end %>
        <br><strong>Cd. de México a:</strong> <%= @constancia_documento.fecha %></span>
      </td>
    </tr>
  </table>
  <p style="font-size:16px"><strong>
   C. DIRECTOR GENERAL DE PROFESIONES<br>
   SECRETARÍA DE EDUCACIÓN PÚBLICA<br>
   INSURGENTES SUR No. 2387<br>
   CIUDAD DE MÉXICO, C.P. 01000<br></strong>
  </p>
  <% if @constancia_documento.programa_academico.present? && @constancia_documento.periodo.present? && @constancia_documento.prestatario.present? %>
  <p align="justify" style="font-size:16px"><strong>
    La Dirección de Egresados y Servicio Social del Instituto Politécnico
    Nacional, con base en las disposiciones contenidas en la Ley Reglamentaria
    del Artículo 5° Constitucional y de su Reglamento, así como del Reglamento de
    Servicio Social del Instituto, hace constar que, de acuerdo a los documentos que
    obran en los archivos del Departamento de Control y Trámite de Servicio
    Social, el alumno:</strong><br>
    <%= @constancia_documento.nombre %> <%= @constancia_documento.apellido_paterno %> <%= @constancia_documento.apellido_materno %><br>
    <strong>boleta:</strong> <br>
    <%= @constancia_documento.boleta %><br>
    <strong>de la Unidad Académica:</strong><br>
    <%= @constancia_documento.unidad_academica %><br>
    <strong>pasante del programa académico:</strong><br>
    <%= @constancia_documento.programa_academico %><br>
    <strong>ha cumplido con su SERVICIO SOCIAL durante el periodo comprendido del:</strong><br>
    <%= @constancia_documento.periodo %><br>
    <strong>prestando sus servicios en:</strong><br>
    <%= @constancia_documento.prestatario %><br>
  </p>
   <% else %>
   <p align="justify" style="font-size:16px"><strong>
     La Dirección de Egresados y Servicio Social del Instituto Politécnico Nacional
     con fundamento en lo dispuesto por los artículos 52 y 53 de la Ley Reglamentaria
     del Artículo 5 Constitucional relativo al ejercicio de profesiones en la Ciudad
     de México; 85, 90 y 93 del Reglamento de la Ley Reglamentaria del Artículo 5
     Constitucional relativo al ejercicio de profesiones en la Ciudad de México; 4,
     fracción VII de la Ley Orgánica; 42, fracción X y XIV del Reglamento Orgánico;
     100 del Reglamento Interno, y 3 del Reglamento de Servicio Social, los últimos
     cuatro ordenamientos del Instituto Politécnico Nacional, hace constar que, de
     acuerdo a los documentos que obran en los archivos del Departamento de Control
     y Trámite de Servicio Social el alumno: </strong><br>
     <%= @constancia_documento.nombre %> <%= @constancia_documento.apellido_paterno %> <%= @constancia_documento.apellido_materno %><br>
     <strong>boleta:</strong> <br>
     <%= @constancia_documento.boleta %><br>
     <strong>de la Unidad Académica:</strong><br>
     <%= @constancia_documento.unidad_academica %><br>
     <strong>pasante del programa académico:</strong><br>
     <%= @constancia_documento.programa_academico %><br>
   </p>
   <p align="justify" style="font-size:16px">
     Ha liberado su Servicio Social, cumpliendo con lo previsto por el artículo 4,
     párrafo cuarto de la Constitución Política de los Estados Unidos Mexicanos y
     atendiendo las disposiciones que en materia de salud han determinado el Consejo
     de Salubridad General y la Secretaría de Salud del Gobierno Federal con motivo
     del combate de la enfermedad generada por el virus sars-cov2 (covid-19).
  </p>
  <% end %>
  <p align="center" style="font-size:20px">
    <strong>"LA TÉCNICA AL SERVICIO DE LA PATRIA"</strong>
  </p>
  <table style="font-size:12px; margin:0 auto;" width="800">
    <tr>
      <td rowspan="2">
        <% qr = RQRCode::QRCode.new(constancia_documento_url(@constancia_documento.uuid), size: 10, level: :h ) %>
          <%= raw(
          qr.as_svg(
            offset: 0,
            color: '000',
            shape_rendering: 'crispEdges',
            module_size: 3,
            standalone: true
          ))
          %>
      </td>
      <td style="padding-left: 10px">
        <strong>Firma electrónica:</strong><br>
        <%= @constancia_documento.firma_direccion.scan(/.{1}/).join("\n") %>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px">
        <strong>Sello:</strong><br>
        <%= @constancia_documento.firma_departamento %>
      </td>
    </tr>
    </table>
    <p align="center" style="font-size:18px">
      <strong>LIC. RICARDO MARTÍN HERNÁNDEZ RAMÍREZ</strong>
      <br>
      <strong><span style="font-size:16px">DIRECTOR DE EGRESADOS<br>Y SERVICIO SOCIAL</span></strong>
    </p>
    <p align="left" style="font-size:10px">
      <strong>Validó información: M. en C. Luis Alberto Mendez Cruz - Jefe del Departamento de Control y Trámite de Servicio Social</strong>
      <br>
      <strong>Responsable de la información: Lic. Bertha Huerta Barrueta -  Administradora del Sistema Institucional de Servicio Social.</strong>
    </p>
</div>
