<h1>Buscar constancias</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    <%= f.label :search_query, 'Buscar registro por boleta' %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control col-md-2'
    ) %>
  </div>
  <br>
  <div>
    <%= link_to(
      'Quitar filtros',
      reset_filterrific_url,
      class: 'btn btn-primary'
    ) %>
  </div>
  <br>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%#= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'constancia_documentos/lista',
  locals: { constancia_documentos: @constancia_documentos }
) %>
