<h1>Relación generada</h1>
<p><strong>Relación:</strong> <%= @relacion %></p>
<p><strong>Unidad Académica:</strong> <%= @unidad_academica %></p>
<p><strong>Fecha:</strong> <%= ConstanciaDocumento.fecha_alfanumerica %></p>
<table class="table tabla-constancias">
  <thead>
    <tr>
      <th>Boleta</th>
      <th>Oficio</th>
      <th>Nombre</th>
      <th>Registro</th>
      <th>UUID</th>
    </tr>
  </thead>
  <tbody>
    <% @constancia_documentos.each do |constancia_documento| %>
    <tr>
      <td><%= constancia_documento.boleta %></td>
      <td><%= constancia_documento.numero_oficio %></td>
      <td><%= constancia_documento.nombre_completo %></td>
      <td><%= constancia_documento.numero_registro %></td>
      <td><a href="https://serviciosocialconstancias.ipn.mx/constancia_documentos/<%= constancia_documento.uuid %>">https://serviciosocialconstancias.ipn.mx/constancia_documentos/<%= constancia_documento.uuid%></a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Descargar relación", imprimir_relacion_constancia_documentos_path(format: :pdf, relacion: @relacion, escuela: @unidad_academica, anio: @anio), target:"_blank" %>
  <%#= link_to 'Email', samplecardreport_path(format: :pdf, email_search_stuent_id: value1, term: value2,form_class: value3, year: value4), :class => 'btn btn-warning termact_btns' %>
</p>
