<p>
  <strong>Numero relacion:</strong>
  <%= @constancia_documento.numero_relacion %>
</p>

<p>
  <strong>Numero oficio:</strong>
  <%= @constancia_documento.numero_oficio %>
</p>

<p>
  <strong>Numero registro:</strong>
  <%= @constancia_documento.numero_registro %>
</p>

<p>
  <strong>Codigo prestatario:</strong>
  <%= @constancia_documento.codigo_prestatario %>
</p>

<p>
  <strong>Clave programa:</strong>
  <%= @constancia_documento.clave_programa %>
</p>

<p>
  <strong>Fecha de captura:</strong>
  <%= @constancia_documento.fecha %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @constancia_documento.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @constancia_documento.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @constancia_documento.apellido_materno %>
</p>

<p>
  <strong>Boleta:</strong>
  <%= @constancia_documento.boleta %>
</p>

<p>
  <strong>Unidad academica:</strong>
  <%= @constancia_documento.unidad_academica %>
</p>

<p>
  <strong>Programa academico:</strong>
  <%= @constancia_documento.programa_academico %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @constancia_documento.periodo %>
</p>

<p>
  <strong>Prestatario:</strong>
  <%= @constancia_documento.prestatario %>
</p>

<% if @constancia_documento.firma_direccion.nil? %>
<p>
  <strong>Firma electrónica:</strong>
  Sin firma
</p>
<% else %>
<p>
  <strong>Firma electrónica:</strong><br>
  <%= @constancia_documento.firma_direccion.scan(/.{1}/).join("\n") %>
</p>

<p>
  <%= link_to "Descargar constancia", imprimir_constancia_documentos_path(@constancia_documento.uuid, format: :pdf),
  target:"_blank" %>
</p>

<% end %>

<% if user_signed_in? %>
<%= link_to 'Editar', edit_constancia_documento_path(@constancia_documento) %> |
<%= link_to 'Regresar', constancia_documentos_path %>
<% end %>
