<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @constancia_documento.folio %>
</p>

<p>
  <strong>Numero relacion:</strong>
  <%= @constancia_documento.numero_relacion %>
</p>

<p>
  <strong>Numero oficio:</strong>
  <%= @constancia_documento.numero_oficio %>
</p>

<p>
  <strong>Numero registro:</strong>
  <%= @constancia_documento.numero_registro %>
</p>

<p>
  <strong>Codigo prestatario:</strong>
  <%= @constancia_documento.codigo_prestatario %>
</p>

<p>
  <strong>Clave programa:</strong>
  <%= @constancia_documento.clave_programa %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @constancia_documento.fecha %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @constancia_documento.nombre %>
</p>

<p>
  <strong>Boleta:</strong>
  <%= @constancia_documento.boleta %>
</p>

<p>
  <strong>Unidad academica:</strong>
  <%= @constancia_documento.unidad_academica %>
</p>

<p>
  <strong>Programa academico:</strong>
  <%= @constancia_documento.programa_academico %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @constancia_documento.periodo %>
</p>

<p>
  <strong>Prestatario:</strong>
  <%= @constancia_documento.prestatario %>
</p>

<p>
  <strong>Constancia emitida:</strong>
  <%= @constancia_documento.constancia_emitida %>
</p>

<p>
  <strong>Firma electrónica:</strong>
  <%= @constancia_documento.firma_direccion %>
</p>

<p> <strong>Firma valida:</<strong>
  <%= @info %>

</p>

<%= link_to 'Edit', edit_constancia_documento_path(@constancia_documento) %> |
<%= link_to 'Back', constancia_documentos_path %>
