<h1>Lista de usuarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Rol</th>
      <th>Último inicio de sesión</th>
      <th>Última IP</th>
      <% if policy(@users).show? %>
        <th colspan="3">Opciones</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.apellido_paterno %></td>
        <td><%= user.apellido_materno %></td>
        <td><%= user.role.nombre %></td>
        <td><%= user.ultima_sesion %></td>
        <td><%= user.last_sign_in_ip %></td>
        <% if policy(@users).show? %>
          <td><%= link_to 'Mostrar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@users).new? %>
  <%= link_to 'Crear nuevo usuario', new_user_path %>
<% end %>
