<!DOCTYPE html>
<html>
  <head>
    <title>ConstanciasServicioSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#menu-manual" data-offset="120">
    <header class="d-none d-md-block">
            <nav class="navbar fixed-top" role="navigation" id="barraGobmx">
                <div class="container u-noPaddingContainer">
                    <a class="navbar-brand" style="padding-left: 8px;" href="https://www.gob.mx/">
                        <%= image_tag "gobmxlogo.svg", alt:"Página de inicio, Gobierno de México", height:29 %>
                    </a>
                    <div class="text-rigth barraGobmx-enlaces">
                        <a href="https://www.gob.mx/tramites" title="Trámites" class="nav-link">
                            Trámites
                        </a>
                        <a href="https://www.gob.mx/gobierno" title="Gobierno" class="nav-link">
                            Gobierno
                        </a>
                        <a href="https://www.gob.mx/participa" title="Participación Ciudadana" class="nav-link">
                            Participa
                        </a>
                        <a href="https://datos.gob.mx" title="Datos Abiertos" class="nav-link">
                            Datos
                        </a>
                        <a href="https://www.gob.mx/busqueda">
                        <span class="sr-only" class="nav-link">Búsqueda</span><i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Encabezado principal -->
        <div class="u-noPaddingContainer contenedorGobierno">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="d-inline-block ipnLogo-enlace">
                            <%= image_tag "pleca-gob.png", alt:"", class:"plecaGob gob" %>
                            <a href="https://www.ipn.mx" class="">
                                <%= image_tag "pleca-ipn.png", alt:"", class:"plecaGob" %>
                                <p class="d-inline-block tituloLogo">
                                    Instituto Politécnico Nacional <br>
                                    <span class="sm">"La Técnica al Servicio de la Patria"</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="utileriasIpn">
                    <ul class="barra-enlaces">
                        <li>
                            <a href="https://www.ipn.mx/directorio.html">DIRECTORIO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/correo-electronico.html">CORREO ELECTRÓNICO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/calendario-academico.html">CALENDARIO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/buzon.html">BUZÓN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Menú principal -->
<nav class="navbar navbar-expand-xl navbar-dark d-block d-xl-flex justify-content-center" id="menu-principal">
<div class="u-noPaddingContainer">

<!-- Banderin -->
<p class="nav-link banderin u-oculto">
    <img src="" alt="" class="banderin-img">
</p>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> Menú principal
</button>

<div class="collapse navbar-collapse d-xl-flex justify-content-md-around" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="https://ipn.mx/" title="Inicio" >
Inicio
</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Conócenos" href="#" id="Dropdown11" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Conócenos
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown11">
<li>
<a class="dropdown-item" href="conocenos/mision-historia.html" title="Misión e Historia" >
Misión e Historia
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/CCS/" title="Comunicación Social" >
Comunicación Social
</a>
</li>
<li>
<a class="dropdown-item" href="conocenos/director-general/" title="Director General" >
Director General
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/normatividad/" title="Normatividad" >
Normatividad
</a>
</li>
<li>
<a class="dropdown-item" href="https://ipn.mx/sg/cgc.html" title="Consejo General Consultivo" >
Consejo General Consultivo
</a>
</li>
<li>
<a class="dropdown-item" href="conocenos/estructura-organica.pdf" title="Estructura Funcional" >
Estructura Funcional
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/defensoria/" title="Defensoría de los Derechos Politécnicos" >
Defensoría de los Derechos Politécnicos
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/genero/" title="Unidad Politécnica de Género" >
Unidad Politécnica de Género
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/etica/" title="Comité de Ética" >
Comité de Ética
</a>
</li>
<li>
<a class="dropdown-item" href="conocenos/vida-politecnica.html" title="Vida Politécnica" >
Vida Politécnica
</a>
</li>
<li>
<a class="dropdown-item" href="conocenos/mapas-instalaciones.html" title="Mapas e instalaciones" >
Mapas e instalaciones
</a>
</li>
<li>
<a class="dropdown-item" href="conocenos/sitios-web.html" title="Localizacion de sitios Web" >
Localizacion de sitios Web
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Oferta Educativa" href="#" id="Dropdown14" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Oferta Educativa
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown14">
<li>
<a class="dropdown-item" href="https://admision.ipn.mx" title="Admisión 2019" >
Admisión 2019
</a>
</li>
<li>
<a class="dropdown-item" href="https://ipn.mx/dse/orientacion-juvenil/" title="Orientación Juvenil" >
Orientación Juvenil
</a>
</li>
<li>
<a class="dropdown-item" href="oferta-educativa/educacion-medio-superior/" title="Educación Medio Superior" >
Educación Medio Superior
</a>
</li>
<li>
<a class="dropdown-item" href="oferta-educativa/educacion-superior/" title="Educación Superior" >
Educación Superior
</a>
</li>
<li>
<a class="dropdown-item" href="oferta-educativa/posgrado/" title="Posgrado" >
Posgrado
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/upev/" title="Educación Virtual" >
Educación Virtual
</a>
</li>
<li>
<a class="dropdown-item" href="oferta-educativa/lenguas-extranjeras.html" title="Lenguas extranjeras" >
Lenguas extranjeras
</a>
</li>
<li>
<a class="dropdown-item" href="oferta-educativa/educacion-continua.html" title="Educación Continua" >
Educación Continua
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Estudiantes" href="#" id="Dropdown15" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Estudiantes
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown15">
<li>
<a class="dropdown-item" href="estudiantes/tramites.html" title="Trámites escolares" >
Trámites escolares
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/cca/" title="Intercambio de Estudiantes" >
Intercambio de Estudiantes
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/dse/becas/" title="Becas" >
Becas
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/biblioteca/" title="Biblioteca" >
Biblioteca
</a>
</li>
<li>
<a class="dropdown-item" href="estudiantes/servicio-social.html" title="Servicio Social" >
Servicio Social
</a>
</li>
<li>
<a class="dropdown-item" href="estudiantes/titulacion.html" title="Opciones de Titulación" >
Opciones de Titulación
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/dse/" title="Servicios Estudiantiles" >
Servicios Estudiantiles
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/dse/centros-apoyo.html" title="Centros de Apoyo" >
Centros de Apoyo
</a>
</li>
<li>
<a class="dropdown-item" href="estudiantes/servicios-digitales.html" title="Servicios Digitales" >
Servicios Digitales
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Investigación y Posgrado" href="#" id="Dropdown173" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Investigación y Posgrado
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown173">
<li>
<a class="dropdown-item" href="https://www.ipn.mx/posgrado/conocenos/directorio-centros.html" title="Centros y Secciones de Estudios de Posgrado" >
Centros y Secciones de Estudios de Posgrado
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/investigacion/" title="Investigación" >
Investigación
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/posgrado/" title="Posgrado" >
Posgrado
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/coriyp/" title="Redes de Investigación" >
Redes de Investigación
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Egresados" href="#" id="Dropdown17" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Egresados
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown17">
<li>
<a class="dropdown-item" href="egresados/registro-egresados.html" title="Registro  Egresados" >
Registro  Egresados
</a>
</li>
<li>
<a class="dropdown-item" href="egresados/credencial.html" title="Credencial" >
Credencial
</a>
</li>
<li>
<a class="dropdown-item" href="egresados/programas.html" title="Programas" >
Programas
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Vinculación" href="#" id="Dropdown18" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Vinculación
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown18">
<li>
<a class="dropdown-item" href="vinculacion/aceleracion-empresas.html" title="Aceleración de Empresas" >
Aceleración de Empresas
</a>
</li>
<li>
<a class="dropdown-item" href="vinculacion/proyectos-vinculados/" title="Proyectos Vinculados" >
Proyectos Vinculados
</a>
</li>
<li>
<a class="dropdown-item" href="vinculacion/transferencia-de-tecnologia.html" title="Transferencia de Tecnología" >
Transferencia de Tecnología
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/ciebt/" title="Incubadora de Empresas" >
Incubadora de Empresas
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Servicios" href="#" id="Dropdown19" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Servicios
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown19">
<li>
<a class="dropdown-item" href="https://www.ipn.mx/dch/" title="Capital Humano" >
Capital Humano
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/DPS/" title="Prestaciones y Servicios" >
Prestaciones y Servicios
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/drmys/" title="Recursos Materiales y Servicios" >
Recursos Materiales y Servicios
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/drf/" title="Recursos Financieros" >
Recursos Financieros
</a>
</li>
<li>
<a class="dropdown-item" href="servicios/tecnologias-informacion.html" title="Tecnologías de la Información y Comunicación" >
Tecnologías de la Información y Comunicación
</a>
</li>
<li>
<a class="dropdown-item" href="https://www.ipn.mx/cocendi/" title="Centro de Desarrollo Infantil" >
Centro de Desarrollo Infantil
</a>
</li>

</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" title="Menú Transparencia" href="#" id="Dropdown20" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Transparencia
</a>
<ul class="dropdown-menu" aria-labelledby="Dropdown20">
<li>
<a class="dropdown-item" href="transparencia/normatividad.html" title="Normatividad en Transparencia" >
Normatividad en Transparencia
</a>
</li>
<li>
<a class="dropdown-item" href="transparencia/acceso-info.html" title="Acceso a la Información" >
Acceso a la Información
</a>
</li>
<li>
<a class="dropdown-item" href="transparencia/obligaciones.html" title="Obligaciones de Transparencia" >
Obligaciones de Transparencia
</a>
</li>
<li>
<a class="dropdown-item" href="transparencia/transparencia-proactiva.html" title="Transparencia Proactiva" >
Transparencia Proactiva
</a>
</li>
<li>
<a class="dropdown-item" href="transparencia/ubicacion.html" title="Ubicación de la Unidad de Transparencia" >
Ubicación de la Unidad de Transparencia
</a>
</li>
<li>
<a class="dropdown-item" href="transparencia/encuesta.html" title="Encuesta" >
Encuesta
</a>
</li>

</ul>
</li>
<li class="nav-item">
<a class="nav-link" href="estadisticas.html" title="Estadísticas" >
Estadísticas
</a>
</li>

</ul>
</div>
</div>
<!-- Opciones de accesibilidad flotantes -->
<div id="contenedorAccesibilidad-scroll" class="contenedorAccesibilidad u-oculto">
<i class="fab fa-accessible-icon"></i>
<a class="btn--accesibilidad contraste">
    <i class="fas fa-adjust"></i>
</a>
<a class="btn--accesibilidad aumentaLetra">A+</a>
<a class="btn--accesibilidad reduceLetra">A-</a>
<a class="btn--accesibilidad resetLetra">A </a>
</div>
</nav>
    <%= yield %>
    <!-- Pie de página -->
        <footer class="piePagina">

            <!-- Aviso IPN -->
            <div class="bg--guinda">
                <div class="container">
                    <div class="row">
                       <!-- <div class="col-lg-2 piePagina-logoSep text-center mb-3">
                            <img src="/assets/files/main/img/firma-sep-vertical.jpg" alt="" class="img-fluid mb-3">
                            <div class="w-100"></div>
                            <a href="https://www.gob.mx/sep">www.gob.mx/SEP</a>
                        </div> -->
                        <div class="col-lg-12 pl-7 piePagina-texto">
                            <h3 class="text-center piePagina-titulo">INSTITUTO POLITÉCNICO NACIONAL</h3>
                            <p>
                                D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo López Mateos, Zacatenco, Alcaldía Gustavo A. Madero, C.P. 07738, Ciudad de México 2009-2013.
                            </p>
                            <br>
                            <p>
                                Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y por escrito de la Dirección General del Instituto.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                          <div class="col-lg-12 pl-7">
                            <img src="/assets/files/main/img/template/educacion2.png" alt="" class="EducacionplecaGob gob">
                         </div>
                    </div>
                </div>
            </div>

            <!-- Boton para regresar al inicio de la pagina -->
            <span id="top-contenedor">
                <a href="#" class="top-link" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </span>

        </footer>
  </body>
  <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</html>
